@import '@/index.scss';

body {
    background-color: $primary-purple;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.room {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.msgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.msg-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: .3rem;
}

.msg-bar {
    z-index: 1;
    // place the message bar bottom of the page
    position: fixed;
    bottom: 1rem;
}